<settings>

    <setting propertyKey="@Properties.Gender" title="@Strings.Gender">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Female</listEntry>
            <listEntry value="1">@Strings.Male</listEntry>            
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Weight" title="@Strings.Weight">        
        <settingConfig type="numeric" />        
    </setting>
    
    <setting propertyKey="@Properties.Height" title="@Strings.Height">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.Age" title="@Strings.Age">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.DarkUpperBackground" title="@Strings.DarkUpperBackground">
    	<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DarkFieldBackground" title="@Strings.DarkFieldBackground">
    	<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.HourColor" title="@Strings.HourColor">
    	<settingConfig type="list">
    		<listEntry value="0xFFFFFF">@Strings.White</listEntry>
    		<listEntry value="0x000000">@Strings.Black</listEntry>
    		<listEntry value="0xFF0055">@Strings.Red</listEntry>
    		<listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
    		<listEntry value="0xFFAA00">@Strings.Orange</listEntry>
    		<listEntry value="0xFFFF55">@Strings.Yellow</listEntry>
    		<listEntry value="0x00FF55">@Strings.Green</listEntry>
    		<listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
    		<listEntry value="0x00AAFF">@Strings.Blue</listEntry>
    		<listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
    		<listEntry value="0xAA55FF">@Strings.Purple</listEntry>
    		<listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MinuteColor" title="@Strings.MinuteColor">
    	<settingConfig type="list">
    		<listEntry value="0xFFFFFF">@Strings.White</listEntry>
    		<listEntry value="0x000000">@Strings.Black</listEntry>
    		<listEntry value="0xFF0055">@Strings.Red</listEntry>
    		<listEntry value="0xAA0000">@Strings.DarkRed</listEntry>
    		<listEntry value="0xFFAA00">@Strings.Orange</listEntry>
    		<listEntry value="0xFFFF55">@Strings.Yellow</listEntry>
    		<listEntry value="0x00FF55">@Strings.Green</listEntry>
    		<listEntry value="0x00AA00">@Strings.DarkGreen</listEntry>
    		<listEntry value="0x00AAFF">@Strings.Blue</listEntry>
    		<listEntry value="0x0000FF">@Strings.DarkBlue</listEntry>
    		<listEntry value="0xAA55FF">@Strings.Purple</listEntry>
    		<listEntry value="0xFF00FF">@Strings.Pink</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LcdBackground" title="@Strings.LcdBackground">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.LcdFont" title="@Strings.LcdFont">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.LcdFontDataFields" title="@Strings.LcdFontDataFields">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BpmZones" title="@Strings.BpmZones">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DST" title="@Strings.DST">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowHomeDate" title="@Strings.ShowHomeDate">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowHomeTimezone" title="@Strings.ShowHomeTimezone">
        <settingConfig type="boolean" />
    </setting>
            
    <setting propertyKey="@Properties.HomeTimezoneOffset" title="@Strings.HomeTimezoneOffset" prompt="@Strings.HomeTimezoneOffset">
        <settingConfig type="list">
            <listEntry value="-43200">@Strings.UTC_M_1200</listEntry>
            <listEntry value="-39600">@Strings.UTC_M_1100</listEntry>
            <listEntry value="-36000">@Strings.UTC_M_1000</listEntry>
            <listEntry value="-34200">@Strings.UTC_M_0930</listEntry>
            <listEntry value="-32400">@Strings.UTC_M_0900</listEntry>
            <listEntry value="-28800">@Strings.UTC_M_0800</listEntry>
            <listEntry value="-25200">@Strings.UTC_M_0700</listEntry>
            <listEntry value="-21600">@Strings.UTC_M_0600</listEntry>
            <listEntry value="-18000">@Strings.UTC_M_0500</listEntry>
            <listEntry value="-14400">@Strings.UTC_M_0400</listEntry>
            <listEntry value="-12600">@Strings.UTC_M_0330</listEntry>
            <listEntry value="-10800">@Strings.UTC_M_0300</listEntry>
            <listEntry value="-7200">@Strings.UTC_M_0200</listEntry>
            <listEntry value="-3600">@Strings.UTC_M_0100</listEntry>
            <listEntry value="0">@Strings.UTC_P_0000</listEntry>
            <listEntry value="3600">@Strings.UTC_P_0100</listEntry>
            <listEntry value="7200">@Strings.UTC_P_0200</listEntry>
            <listEntry value="10800">@Strings.UTC_P_0300</listEntry>
            <listEntry value="12600">@Strings.UTC_P_0330</listEntry>
            <listEntry value="14400">@Strings.UTC_P_0400</listEntry>
            <listEntry value="16200">@Strings.UTC_P_0430</listEntry>
            <listEntry value="18000">@Strings.UTC_P_0500</listEntry>
            <listEntry value="19800">@Strings.UTC_P_0530</listEntry>
            <listEntry value="20700">@Strings.UTC_P_0545</listEntry>
            <listEntry value="21600">@Strings.UTC_P_0600</listEntry>
            <listEntry value="23400">@Strings.UTC_P_0630</listEntry>
            <listEntry value="25200">@Strings.UTC_P_0700</listEntry>
            <listEntry value="28800">@Strings.UTC_P_0800</listEntry>
            <listEntry value="30600">@Strings.UTC_P_0830</listEntry>
            <listEntry value="31500">@Strings.UTC_P_0845</listEntry>
            <listEntry value="32400">@Strings.UTC_P_0900</listEntry>
            <listEntry value="34200">@Strings.UTC_P_0930</listEntry>
            <listEntry value="36000">@Strings.UTC_P_1000</listEntry>
            <listEntry value="37800">@Strings.UTC_P_1030</listEntry>
            <listEntry value="39600">@Strings.UTC_P_1100</listEntry>
            <listEntry value="43200">@Strings.UTC_P_1200</listEntry>            
            <listEntry value="45900">@Strings.UTC_P_1245</listEntry>
            <listEntry value="46800">@Strings.UTC_P_1300</listEntry>
            <listEntry value="50400">@Strings.UTC_P_1400</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormat">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DayMonth</listEntry>
            <listEntry value="1">@Strings.MonthDay</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MonthAsText" title="@Strings.MonthAsText">
    	<settingConfig type="boolean" />
   	</setting>
    
    <setting propertyKey="@Properties.ShowCalendarWeek" title="@Strings.ShowCalendarWeek">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowMoveBar" title="@Strings.ShowMoveBar">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowChargePercentage" title="@Strings.ShowChargePercentage">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowPercentageUnder20" title="@Strings.ShowPercentageUnder20">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowLeadingZero" title="@Strings.ShowLeadingZero">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowStepBar" title="@Strings.ShowStepBar">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowCalorieBar" title="@Strings.ShowCalorieBar">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ColoredBattery" title="@Strings.ColoredBattery">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ColorizeStepText" title="@Strings.ColorizeStepText">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ColorizeCalorieText" title="@Strings.ColorizeCalorieText">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.SecondsAlwaysOn" title="@Strings.SecondsAlwaysOn">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.AltitudeOffset" title="@Strings.AltitudeOffset">
    		<settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.PressureOffset" title="@Strings.PressureOffset">
    		<settingConfig type="numeric" />
    </setting>
        
    <setting propertyKey="@Properties.ActiveKcalGoal" title="@Strings.ActiveKcalGoal">
    		<settingConfig type="numeric" min="0" max="9999"/>
    </setting>    
        
    <setting propertyKey="@Properties.UpperLeftField" title="@Strings.UpperLeftField">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.Steps</listEntry>
    		<listEntry value="1">@Strings.Calories</listEntry>
    		<listEntry value="2">@Strings.ActiveCalories</listEntry>
    		<listEntry value="3">@Strings.HeartRate</listEntry>
    		<listEntry value="4">@Strings.Distance</listEntry>
    		<listEntry value="5">@Strings.Altitude</listEntry>
    		<listEntry value="6">@Strings.Pressure</listEntry>
    		<listEntry value="7">@Strings.ActiveTimeDay</listEntry>
    		<listEntry value="8">@Strings.ActiveTimeWeek</listEntry>
    		<listEntry value="9">@Strings.Floors</listEntry>
    		<listEntry value="10">@Strings.Meters</listEntry>
    		<listEntry value="11">@Strings.ActKcalAvg</listEntry>
    		<listEntry value="12">@Strings.DeltaSteps</listEntry>
    		<listEntry value="13">@Strings.Weather</listEntry>
    		<listEntry value="14">@Strings.DeltaActiveKcalGoal</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.UpperRightField" title="@Strings.UpperRightField">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.Steps</listEntry>
    		<listEntry value="1">@Strings.Calories</listEntry>
    		<listEntry value="2">@Strings.ActiveCalories</listEntry>
    		<listEntry value="3">@Strings.HeartRate</listEntry>
    		<listEntry value="4">@Strings.Distance</listEntry>
    		<listEntry value="5">@Strings.Altitude</listEntry>
    		<listEntry value="6">@Strings.Pressure</listEntry>
    		<listEntry value="7">@Strings.ActiveTimeDay</listEntry>
    		<listEntry value="8">@Strings.ActiveTimeWeek</listEntry>
    		<listEntry value="9">@Strings.Floors</listEntry>
    		<listEntry value="10">@Strings.Meters</listEntry>
    		<listEntry value="11">@Strings.ActKcalAvg</listEntry>
    		<listEntry value="12">@Strings.DeltaSteps</listEntry>
    		<listEntry value="13">@Strings.Weather</listEntry>
    		<listEntry value="14">@Strings.DeltaActiveKcalGoal</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LowerLeftField" title="@Strings.LowerLeftField">
    	<settingConfig type="list">
    		<listEntry value="1">@Strings.Calories</listEntry>
    		<listEntry value="2">@Strings.ActiveCalories</listEntry>	
    		<listEntry value="3">@Strings.HeartRate</listEntry>
    		<listEntry value="4">@Strings.Distance</listEntry>
    		<listEntry value="7">@Strings.ActiveTimeDay</listEntry>
    		<listEntry value="8">@Strings.ActiveTimeWeek</listEntry>
    		<listEntry value="9">@Strings.Floors</listEntry>
    		<listEntry value="14">@Strings.DeltaActiveKcalGoal</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LowerRightField" title="@Strings.LowerRightField">
    	<settingConfig type="list">
    		<listEntry value="1">@Strings.Calories</listEntry>
    		<listEntry value="2">@Strings.ActiveCalories</listEntry>
    		<listEntry value="3">@Strings.HeartRate</listEntry>
    		<listEntry value="4">@Strings.Distance</listEntry>
    		<listEntry value="7">@Strings.ActiveTimeDay</listEntry>
    		<listEntry value="8">@Strings.ActiveTimeWeek</listEntry>
    		<listEntry value="9">@Strings.Floors</listEntry>
    		<listEntry value="14">@Strings.DeltaActiveKcalGoal</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BottomField" title="@Strings.BottomField">
        <settingConfig type="list">
    		<listEntry value="0">@Strings.Steps</listEntry>
         	<listEntry value="1">@Strings.Calories</listEntry>
    		<listEntry value="2">@Strings.ActiveCalories</listEntry>
        	<listEntry value="3">@Strings.HeartRate</listEntry>
        	<listEntry value="4">@Strings.Distance</listEntry>
        	<listEntry value="5">@Strings.Altitude</listEntry>
    		<listEntry value="6">@Strings.Pressure</listEntry>
    		<listEntry value="7">@Strings.ActiveTimeDay</listEntry>
    		<listEntry value="8">@Strings.ActiveTimeWeek</listEntry>
    		<listEntry value="9">@Strings.Floors</listEntry>
    		<listEntry value="10">@Strings.Meters</listEntry>
    		<listEntry value="11">@Strings.ActKcalAvg</listEntry>
    		<listEntry value="13">@Strings.Weather</listEntry>
    		<listEntry value="14">@Strings.DeltaActiveKcalGoal</listEntry>
        </settingConfig>
    </setting>
         
    <setting propertyKey="@Properties.UserLat" title="@Strings.UserLat">
    		<settingConfig type="numeric" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.UserLng" title="@Strings.UserLng">
    		<settingConfig type="numeric" required="true" />
    </setting>
    
    <setting propertyKey="@Properties.SunriseSunset" title="@Strings.SunriseSunset">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.CurrentTimezoneOffset" title="@Strings.CurrentTimezoneOffset" prompt="@Strings.CurrentTimezoneOffset">
        <settingConfig type="list">
            <listEntry value="-43200">@Strings.UTC_M_1200</listEntry>
            <listEntry value="-39600">@Strings.UTC_M_1100</listEntry>
            <listEntry value="-36000">@Strings.UTC_M_1000</listEntry>
            <listEntry value="-34200">@Strings.UTC_M_0930</listEntry>
            <listEntry value="-32400">@Strings.UTC_M_0900</listEntry>
            <listEntry value="-28800">@Strings.UTC_M_0800</listEntry>
            <listEntry value="-25200">@Strings.UTC_M_0700</listEntry>
            <listEntry value="-21600">@Strings.UTC_M_0600</listEntry>
            <listEntry value="-18000">@Strings.UTC_M_0500</listEntry>
            <listEntry value="-14400">@Strings.UTC_M_0400</listEntry>
            <listEntry value="-12600">@Strings.UTC_M_0330</listEntry>
            <listEntry value="-10800">@Strings.UTC_M_0300</listEntry>
            <listEntry value="-7200">@Strings.UTC_M_0200</listEntry>
            <listEntry value="-3600">@Strings.UTC_M_0100</listEntry>
            <listEntry value="0">@Strings.UTC_P_0000</listEntry>
            <listEntry value="3600">@Strings.UTC_P_0100</listEntry>
            <listEntry value="7200">@Strings.UTC_P_0200</listEntry>
            <listEntry value="10800">@Strings.UTC_P_0300</listEntry>
            <listEntry value="12600">@Strings.UTC_P_0330</listEntry>
            <listEntry value="14400">@Strings.UTC_P_0400</listEntry>
            <listEntry value="16200">@Strings.UTC_P_0430</listEntry>
            <listEntry value="18000">@Strings.UTC_P_0500</listEntry>
            <listEntry value="19800">@Strings.UTC_P_0530</listEntry>
            <listEntry value="20700">@Strings.UTC_P_0545</listEntry>
            <listEntry value="21600">@Strings.UTC_P_0600</listEntry>
            <listEntry value="23400">@Strings.UTC_P_0630</listEntry>
            <listEntry value="25200">@Strings.UTC_P_0700</listEntry>
            <listEntry value="28800">@Strings.UTC_P_0800</listEntry>
            <listEntry value="30600">@Strings.UTC_P_0830</listEntry>
            <listEntry value="31500">@Strings.UTC_P_0845</listEntry>
            <listEntry value="32400">@Strings.UTC_P_0900</listEntry>
            <listEntry value="34200">@Strings.UTC_P_0930</listEntry>
            <listEntry value="36000">@Strings.UTC_P_1000</listEntry>
            <listEntry value="37800">@Strings.UTC_P_1030</listEntry>
            <listEntry value="39600">@Strings.UTC_P_1100</listEntry>
            <listEntry value="43200">@Strings.UTC_P_1200</listEntry>            
            <listEntry value="45900">@Strings.UTC_P_1245</listEntry>
            <listEntry value="46800">@Strings.UTC_P_1300</listEntry>
            <listEntry value="50400">@Strings.UTC_P_1400</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.CurrentDST" title="@Strings.CurrentDST">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.CurrentWeather" title="@Strings.CurrentWeather">
    		<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DarkSkyApiKey" title="@Strings.DarkSkyApiKey">
    		<settingConfig type="alphanumeric" maxLength="32"/>
    </setting>
    
    <setting propertyKey="@Properties.TempUnit" title="@Strings.TempUnit">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Celsius</listEntry>
            <listEntry value="1">@Strings.Fahrenheit</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.AltUnit" title="@Strings.AltUnit">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Meter</listEntry>
            <listEntry value="1">@Strings.Feet</listEntry>
        </settingConfig>
    </setting>
    
</settings>
