<settings>

    <setting propertyKey="@Properties.Gender" title="@Strings.Gender">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Female</listEntry>
            <listEntry value="1">@Strings.Male</listEntry>            
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Weight" title="@Strings.Weight">        
        <settingConfig type="numeric" />        
    </setting>
    
    <setting propertyKey="@Properties.Height" title="@Strings.Height">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.Age" title="@Strings.Age">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.LcdBackground" title="@Strings.LcdBackground">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.BpmZones" title="@Strings.BpmZones">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DST" title="@Strings.DST">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowHomeTimezone" title="@Strings.ShowHomeTimezone">
        <settingConfig type="boolean" />
    </setting>
            
    <setting propertyKey="@Properties.HomeTimezoneOffset" title="@Strings.HomeTimezoneOffset" prompt="@Strings.HomeTimezoneOffset">
        <settingConfig type="list">
            <listEntry value="-43200">@Strings.UTC_M_1200</listEntry>
            <listEntry value="-39600">@Strings.UTC_M_1100</listEntry>
            <listEntry value="-36000">@Strings.UTC_M_1000</listEntry>
            <listEntry value="-34200">@Strings.UTC_M_0930</listEntry>
            <listEntry value="-32400">@Strings.UTC_M_0900</listEntry>
            <listEntry value="-28800">@Strings.UTC_M_0800</listEntry>
            <listEntry value="-25200">@Strings.UTC_M_0700</listEntry>
            <listEntry value="-21600">@Strings.UTC_M_0600</listEntry>
            <listEntry value="-18000">@Strings.UTC_M_0500</listEntry>
            <listEntry value="-14400">@Strings.UTC_M_0400</listEntry>
            <listEntry value="-12600">@Strings.UTC_M_0330</listEntry>
            <listEntry value="-10800">@Strings.UTC_M_0300</listEntry>
            <listEntry value="-7200">@Strings.UTC_M_0200</listEntry>
            <listEntry value="-3600">@Strings.UTC_M_0100</listEntry>
            <listEntry value="0">@Strings.UTC_P_0000</listEntry>
            <listEntry value="3600">@Strings.UTC_P_0100</listEntry>
            <listEntry value="7200">@Strings.UTC_P_0200</listEntry>
            <listEntry value="10800">@Strings.UTC_P_0300</listEntry>
            <listEntry value="12600">@Strings.UTC_P_0330</listEntry>
            <listEntry value="14400">@Strings.UTC_P_0400</listEntry>
            <listEntry value="16200">@Strings.UTC_P_0430</listEntry>
            <listEntry value="18000">@Strings.UTC_P_0500</listEntry>
            <listEntry value="19800">@Strings.UTC_P_0530</listEntry>
            <listEntry value="20700">@Strings.UTC_P_0545</listEntry>
            <listEntry value="21600">@Strings.UTC_P_0600</listEntry>
            <listEntry value="23400">@Strings.UTC_P_0630</listEntry>
            <listEntry value="25200">@Strings.UTC_P_0700</listEntry>
            <listEntry value="28800">@Strings.UTC_P_0800</listEntry>
            <listEntry value="30600">@Strings.UTC_P_0830</listEntry>
            <listEntry value="31500">@Strings.UTC_P_0845</listEntry>
            <listEntry value="32400">@Strings.UTC_P_0900</listEntry>
            <listEntry value="34200">@Strings.UTC_P_0930</listEntry>
            <listEntry value="36000">@Strings.UTC_P_1000</listEntry>
            <listEntry value="37800">@Strings.UTC_P_1030</listEntry>
            <listEntry value="39600">@Strings.UTC_P_1100</listEntry>
            <listEntry value="43200">@Strings.UTC_P_1200</listEntry>            
            <listEntry value="45900">@Strings.UTC_P_1245</listEntry>
            <listEntry value="46800">@Strings.UTC_P_1300</listEntry>
            <listEntry value="50400">@Strings.UTC_P_1400</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.DistanceUnit" title="@Strings.DistanceUnit">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Kilometer</listEntry>
            <listEntry value="1">@Strings.Miles</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormat">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DayMonth</listEntry>
            <listEntry value="1">@Strings.MonthDay</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowMoveBar" title="@Strings.ShowMoveBar">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowChargePercentage" title="@Strings.ShowChargePercentage">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowPercentageUnder20" title="@Strings.ShowPercentageUnder20">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowActiveKcalOnly" title="@Strings.ShowActiveKcalOnly">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowLeadingZero" title="@Strings.ShowLeadingZero">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.LcdFont" title="@Strings.LcdFont">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowDeltaSteps" title="@Strings.ShowDeltaSteps">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowStepBar" title="@Strings.ShowStepBar">
    	<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowCalorieBar" title="@Strings.ShowCalorieBar">
    	<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ColorizeStepText" title="@Strings.ColorizeStepText">
    	<settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ColorizeCalorieText" title="@Strings.ColorizeCalorieText">
    	<settingConfig type="boolean" />
    </setting>
</settings>
